{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style>
		html,
		body {
			background-image: url('http://getwallpapers.com/wallpaper/full/b/c/c/385896.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
			font-family: 'Numans', sans-serif;
		}

		.container {
			height: 100%;
			align-content: center;
		}

		.card {
			height: 370px;
			margin-top: auto;
			margin-bottom: auto;
			width: 400px;
			background-color: rgba(0, 0, 0, 0.5) !important;
		}

		.social_icon span {
			font-size: 60px;
			margin-left: 10px;
			color: #FFC312;
		}

		.social_icon span:hover {
			color: white;
			cursor: pointer;
		}

		.card-header h3 {
			color: white;
		}

		.social_icon {
			position: absolute;
			right: 20px;
			top: -45px;
		}

		.input-group-prepend span {
			width: 50px;
			background-color: #FFC312;
			color: black;
			border: 0 !important;
		}

		input:focus {
			outline: 0 0 0 0 !important;
			box-shadow: 0 0 0 0 !important;

		}

		.agreeTerms {
			color: white;
		}

		.agreeTerms input {
			width: 20px;
			height: 20px;
			margin-left: 15px;
			margin-right: 5px;
		}

		.login_btn {
			color: black;
			background-color: #FFC312;
			width: 100px;
		}

		.login_btn:hover {
			color: black;
			background-color: white;
		}

		.links {
			color: white;
		}

		.links a {
			margin-left: 4px;
		}
	</style>
{% endblock %}

{% block body %}

	<div class="container">

		

		<div class="d-flex justify-content-center h-100">
			<div class="card">


				<div class="card-header">
					<h3>Register</h3>
                    {#
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                    #}
                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}

				</div>

				<div class="card-body">

                    {{ form_start(registrationForm) }}
                    
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control','id': 'inputEmail','placeholder':'email'}} ) }}
                    </div>

					<div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control','id': 'inputPassword','placeholder':'password'}} ) }}
                        
                    </div>
                    <div class="input-group form-group"></div>

                    <div class="row align-items-center agreeTerms">
						{{ form_widget(registrationForm.agreeTerms) }} Agree terms
					</div>
					<div class="form-group">
						<input type="submit" value="Register" class="btn float-right login_btn">
					</div>

					
					{{ form_end(registrationForm) }}
				</div>

			</div>
		</div>
	</div>
{% endblock %}
