{% extends 'base-page.html.twig' %}

{% block title %}World index{% endblock %}

{% block body2 %}
    <h1>World index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for world in worlds %}
            <tr>
                <td>{{ world.id }}</td>
                <td>{{ world.name }}</td>
                <td>
                    <a href="{{ path('world_show', {'id': world.id}) }}">show</a>
                    <a href="{{ path('world_edit', {'id': world.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('world_new') }}">Create new</a>
{% endblock %}
