{% extends 'base-page.html.twig' %}

{% block title %}Unit index{% endblock %}

{% block body2 %}
    <h1>Unit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>base_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unitGeneric in unitGenerics %}
            <tr>
                <td>{{ unitGeneric.id }}</td>
                <td>{{ unitGeneric.baseName }}</td>
                <td>
                    <a href="{{ path('unitGeneric_show', {'id': unitGeneric.id}) }}">show</a>
                    <a href="{{ path('unitGeneric_edit', {'id': unitGeneric.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('unitGeneric_new') }}">Create new</a>
{% endblock %}
