{% extends 'base-page.html.twig' %}

{% block title %}Unit{% endblock %}

{% block body2 %}
<h1>Unit</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ unitGeneric.id }}</td>
        </tr>
        <tr>
            <th>base_name</th>
            <td>{{ unitGeneric.baseName }}</td>
        </tr>
        <tr>
            <th>tags</th>
            <td>{% for tag in unitGeneric.allTags %}{% if not loop.first %}, {% endif %}{{ tag }}{% endfor %}</td>
        </tr>

        {% for gameSystem,profiles in unitGeneric.allprofilesByGameSystems %}
       
        <tr>
            <td id="{{ (unitGeneric.getGameSystem(gameSystem)).id }}" colspan="2">
                {{ (unitGeneric.getGameSystem(gameSystem)).name }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% for profile in profiles %}
                    {% if  profile.profileType == 'profileWFB9'%}
                        {% include 'profileWFB9/line.html.twig' with {'profileWFB9': profile,'startTable' :loop.first,'endTable' :loop.last }  %}
                    {% endif %}
                    {% if  profile.profileType == 'profileWFB12'%}
                        {% include 'profileWFB12/line.html.twig' with {'profileWFB12': profile,'startTable' :loop.first,'endTable' :loop.last }  %}
                    {% endif %}
                    {% if  profile.profileType == 'profileWHQ'%}
                        {% include 'profileWHQ/line.html.twig' with {'profileWHQ': profile,'startTable' :loop.first,'endTable' :loop.last }  %}
                    {% endif %}
                    {% if  profile.profileType == 'profileAOS4'%}
                        {% include 'profileAOS4/line.html.twig' with {'profileAOS4': profile,'startTable' :loop.first,'endTable' :loop.last }  %}
                    {% endif %}
                    {% if  profile.profileType == 'profileT9A12'%}
                        {% include 'profileT9A12/line.html.twig' with {'profileT9A12': profile,'startTable' :loop.first,'endTable' :loop.last }  %}
                    {% endif %}

                {% endfor %}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<a href="{{ path('unitGeneric_index') }}">back to list</a>

<a href="{{ path('unitGeneric_edit', {'id': unitGeneric.id}) }}">edit</a>

{{ include('unitGeneric/_delete_form.html.twig') }}
{% endblock %}