{% extends 'base.html.twig' %}

{% block title %}UnitGameSystem index{% endblock %}

{% block body %}
    <h1>UnitGameSystem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unit_game_system in unit_game_systems %}
            <tr>
                <td>{{ unit_game_system.id }}</td>
                <td>{{ unit_game_system.name }}</td>
                <td>
                    <a href="{{ path('unit_game_system_show', {'id': unit_game_system.id}) }}">show</a>
                    <a href="{{ path('unit_game_system_edit', {'id': unit_game_system.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('unit_game_system_new') }}">Create new</a>
{% endblock %}
