{% extends 'base.html.twig' %}

{% block title %}ProfileAOS4 index{% endblock %}

{% block body %}
    <h1>ProfileAOS4 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Movement</th>
                <th>Wounds</th>
                <th>Bravery</th>
                <th>Save</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profileAOS4 in profileAOS4s|filter(p => p.profileType == 'profileAOS4') %}
            <tr>
                <td>{{ profileAOS4.id }}</td>
                <td>{{ profileAOS4.movement }}</td>
                <td>{{ profileAOS4.wounds }}</td>
                <td>{{ profileAOS4.bravery }}</td>
                <td>{{ profileAOS4.save }}</td>
                <td>
                    <a href="{{ path('profileAOS4_show', {'id': profileAOS4.id}) }}">show</a>
                    <a href="{{ path('profileAOS4_edit', {'id': profileAOS4.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profileAOS4_new') }}">Create new</a>
{% endblock %}
