<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Fantasy Battle DB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Races</a>
           {{ render(controller(
                    'App\\Controller\\RaceController::index',
                    { 'embedType': 'dropdownList' }
                )) }}
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Games System</a>
           {{ render(controller(
                    'App\\Controller\\GameSystemController::index',
                    { 'embedType': 'dropdownList' }
                )) }}
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nations</a>
           {{ render(controller(
                    'App\\Controller\\NationController::index',
                    { 'embedType': 'dropdownList' }
                )) }}
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

    {% if app.user %}
      <div class="nav-item dropdown">
        
        <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img src="{{ app.user.email|grAvatar|grSize(36) }}" class="avatar" alt="Avatar"> {{ app.user.username }} <b class="caret"></b></a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
          <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
          <div class="divider dropdown-divider"></div>
          <a href="{{ path('app_logout') }}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </div>
    {% else %}
   
           <a class="btn btn-primary" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> Sign in</a>

    {% endif %}

  </div>
</nav>
