{% set profile = profileWFB9 %}
{% block body %}

{% if startTable is not defined or startTable %}
<table class="table">
    <tbody>
        <tr class="table-primary">
            {#<th title="Id" ></th> #}

            <th title="Name">Name</th>


            <th title="Movement">M</th>


            <th title="WeaponSkill">W</th>


            <th title="BallisticSkill">BS</th>


            <th title="Strength">S</th>


            <th title="Toughness">T</th>


            <th title="Wounds">W</th>


            <th title="Initiative">I</th>


            <th title="Attacks">A</th>


            <th title="Leadership">L</th>

        </tr>
        {% endif %}
        <tr>

            {# <td>{{ profileWFB9.id }}</td> #}


            <td scope="row" class="table-secondary">{{ profileWFB9.name }}</td>


            <td>{{ profileWFB9.movement }}</td>


            <td>{{ profileWFB9.weaponSkill }}</td>


            <td>{{ profileWFB9.ballisticSkill }}</td>


            <td>{{ profileWFB9.strength }}</td>


            <td>{{ profileWFB9.toughness }}</td>


            <td>{{ profileWFB9.wounds }}</td>


            <td>{{ profileWFB9.initiative }}</td>


            <td>{{ profileWFB9.attacks }}</td>


            <td>{{ profileWFB9.leadership }}</td>
        </tr>
        <tr>
            {# <td>{{ profileAOS4.id }}</td> #}
            <td ></td>
            <td scope="row">Equipments</td>
            <td colspan="7">{% for equipment in profile.equipments %}{% if not loop.first %}, {% endif %}{{ equipment }}{% else %}No equipment{% endfor %}.</td>
        </tr>
        <tr>
            {# <td>{{ profileAOS4.id }}</td> #}
            <td ></td>
            <td scope="row">Rules</td>
            <td colspan="7">{% for rule in profile.rules %}{% if not loop.first %}, {% endif %}{{ rule }}{% else %}No rule{% endfor %}.</td>
        </tr>


        
        {% if endTable is not defined or endTable  %}
    </tbody>
</table>
{% endif %}
{% endblock %}